"atom-workspace":
  "ctrl-shift-v": "multi-theme-applicator:toggle"
  "alt-shift-v": "local-theme-selector-view:focusModalPanel"
".local-theme-selector-view":
  "enter": "local-theme-selector-view:applyLocalTheme"
  "ctrl-p": "local-theme-selector-view:selectPrevTheme"
  "ctrl-n": "local-theme-selector-view:selectNextTheme"
  "alt-ctrl-shift-y": "local-theme-selector-view:selectNextTheme"
  "escape": "local-theme-selector-view:multiThemeApplicatorToggle"
"#themeDropdown":
  "ctrl-p": "local-theme-selector-view:selectPrevTheme"
  "alt-shift-v": "local-theme-selector-view:expandThemeDropdown"

